---
import Layout from "../layouts/Layout.astro";
import TimeConfig from "@/components/TimeConfig.tsx";
import "../styles/globals.css";
---

<Layout>
  <div class="min-h-screen p-6">
    <TimeConfig client:load/>
  </div>
</Layout>
